@using System.Globalization
@using System.Dynamic
@using DotNetNuke.Web.DDRMenu
@using R7.Epsilon.Menus
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

@functions {
	string FormatUrl (MenuNode node)
	{
		return EpsilonMenuHelper.FormatUrl (node, Model.UrlFormat);
	}

	string Id (MenuNode node, string prefix)
	{
		return Model.ControlID + "_" + prefix + node.TabId;
	}
}

@helper RenderMenu(IList<MenuNode> nodes) {
    if (nodes.Count > 0) {
		<div id="@Model.ControlID" class="row no-gutters">
			<ul class="navbar-nav col-4 col-md-12">
				@foreach (var node in nodes) {
					if (node.HasChildren()) {
						<li class="nav-item dropdown">
							<a role="button" href="@FormatUrl(node)" data-target='#@Id(node, "subMenu")' data-toggle="collapse"
							        aria-controls='@Id(node, "subMenu")' aria-expanded="false"
									class="nav-link dropdown-toggle @EpsilonMenuHelper.ForkNodeCssClasses(node)">
								@EpsilonMenuHelper.RenderNodeBadge(node)
								@node.Text
							</a>
						</li>
					} else {
						<li class="nav-item">
							<a href="@FormatUrl(node)" class="nav-link @EpsilonMenuHelper.LeafNodeCssClasses(node)">
								@EpsilonMenuHelper.RenderNodeBadge(node)
								@node.Text
							</a>
						</li>
					}
				}
			</ul>
			@foreach (var node in nodes) {
				if (node.HasChildren ()) {
					@RenderSubmenuFor(node)
				}
			}
		</div>
	}
}

@helper RenderSubmenuFor (MenuNode parentNode) {
	<div class="navbar-nav skin-submenu col-8 col-md-12 collapse" id='@Id(parentNode, "subMenu")' data-parent="#@Model.ControlID">
		<div class="row no-gutters">
			@if (parentNode.Enabled) {
				<div class="col-12 p-0">
					<div class="nav-item">
						<a href="@FormatUrl(parentNode)" class="h4 nav-link skin-chevron-link @EpsilonMenuHelper.LeafNodeCssClasses(parentNode)"
								title='@(EpsilonMenuHelper.GetString("Menu_GoToPage.Text") + "\"" + parentNode.Text + "\"")'>
							@EpsilonMenuHelper.RenderNodeBadge(parentNode)
							@parentNode.Text
						</a>
					</div>
				</div>
			}
			@foreach (var node in parentNode.Children) {
				<div class="col-lg-4 col-md-6 p-0">
					@if (node.HasChildren ()) {
						<div class="nav-item dropdown">
							<a id='@Id(node, "btnDropdown")' role="button" href="@FormatUrl(node)" data-toggle="dropdown"
									aria-haspopup="true" aria-expanded="false"
									class="nav-link dropdown-toggle @EpsilonMenuHelper.ForkNodeCssClasses(node)">
								@EpsilonMenuHelper.RenderNodeBadge(node)
								@node.Text
							</a>
							@RenderDropdownFor(node)
						</div>
					}
					else {
						<div class="nav-item">
							<a href="@FormatUrl(node)" class="nav-link @EpsilonMenuHelper.LeafNodeCssClasses(node)">
								@EpsilonMenuHelper.RenderNodeBadge(node)
								@node.Text
							</a>
						</div>
					}
				</div>
			}
		</div>
	</div>
}

@helper RenderDropdownFor(MenuNode parentNode) {
	<div class="dropdown-menu" aria-labelledby='@Id(parentNode, "btnDropdown")'>
		@if (parentNode.Enabled) {
			<a class="h5 dropdown-item skin-chevron-link @EpsilonMenuHelper.LeafNodeCssClasses(parentNode)" href="@FormatUrl(parentNode)"
					title='@(EpsilonMenuHelper.GetString("Menu_GoToPage.Text") + "\"" + parentNode.Text + "\"")'>
				@EpsilonMenuHelper.RenderNodeBadge(parentNode)
				@parentNode.Text
			</a>
			<div class="dropdown-divider"></div>
		}
		@foreach (var node in parentNode.Children) {
			if (node.HasChildren ()) {
				<a role="button" href="@FormatUrl(node)"
						data-toggle="collapse" data-target='#@Id(node, "collapse")'
						aria-expanded="false" aria-controls='@Id(node, "collapse")'
						class="dropdown-item collapse-toggle @EpsilonMenuHelper.ForkNodeCssClasses(node)">
					@EpsilonMenuHelper.RenderNodeBadge(node)
					@node.Text
				</a>
				@RenderCollapseFor(node)
			}
			else {
				<a class="dropdown-item @EpsilonMenuHelper.LeafNodeCssClasses(node)" href="@FormatUrl(node)">
					@EpsilonMenuHelper.RenderNodeBadge(node)
					@node.Text
				</a>
			}
		}
	</div>
}

@helper RenderCollapseFor(MenuNode parentNode) {
	<div id='@Id(parentNode, "collapse")' class="collapse bg-light">
		<div class="dropdown-divider"></div>
		@if (parentNode.Enabled) {
			<a class="h6 dropdown-item skin-chevron-link @EpsilonMenuHelper.ForkNodeCssClasses(parentNode)" href="@FormatUrl(parentNode)"
					title='@(EpsilonMenuHelper.GetString("Menu_GoToPage.Text") + "\"" + parentNode.Text + "\"")'>
				@EpsilonMenuHelper.RenderNodeBadge(parentNode)
				@parentNode.Text
			</a>
		}
		@foreach (var node in parentNode.Children) {
			<a class="dropdown-item @EpsilonMenuHelper.LeafNodeCssClasses(node)" href="@FormatUrl(node)">
				@EpsilonMenuHelper.RenderNodeBadge(node)
				@node.Text
			</a>
		}
		<div class="dropdown-divider"></div>
	</div>
}

@RenderMenu(Model.Source.root.Children)
