@using System.Dynamic
@using System.Linq
@using System.Collections.Generic
@using DotNetNuke.Web.DDRMenu
@using DotNetNuke.Common
@using DotNetNuke.Entities.Portals
@using R7.Epsilon.Menus
@inherits DotNetNuke.Web.Razor.DotNetNukeWebPage<dynamic>

@functions {
	IList<MenuNode> GetBreadcrumbNodes (MenuNode root)
	{
		var node = root;
		var nodes = new List<MenuNode> { node };
		while (!node.Selected && node.HasChildren ()) {
			var breadcrumbNode = node.Children.FirstOrDefault (n => n.Breadcrumb);
			if (breadcrumbNode == null) {
				break;
			}
			nodes.Add (breadcrumbNode);
			node = breadcrumbNode;
		}
		return nodes;
	}

	string FormatUrl (MenuNode node, EpsilonMenuHelper mh)
	{
		if (string.IsNullOrEmpty (node.Url) && node.TabId <= 0) {
			node.TabId = PortalSettings.Current.HomeTabId;
			node.Url = Globals.NavigateURL (PortalSettings.Current.HomeTabId);
		}
		return mh.FormatUrl (node, Model.UrlFormat);
	}
}

@helper RenderBreadcrumb(MenuNode root, EpsilonMenuHelper mh) {
	var nodes = GetBreadcrumbNodes (root);
	if (nodes.Count > 0) {
		<nav id="@Model.ControlID" class="skin-menu skin-breadcrumb-menu" aria-label='@mh.GetString("DropCrumb_AriaLabel.Text")' itemprop="breadcrumb" itemscope="" itemtype="https://schema.org/breadcrumb">
			<ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
				@{
					var position = 1;
				}
				@foreach (var node in nodes) {
					if (node == root) {
						node.Enabled = true;
					}
					if (node.Selected) {
						<li class="breadcrumb-item @mh.LeafNodeCssClasses(node)" data-tabid="@mh.FormatTabId(node)" aria-current="page"
								itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							@if (node.HasChildren ()) {
								<span class="dropdown">
									<a id='@mh.Id(node, "btnDropdown")' role="button" href="@FormatUrl(node, mh)" rel="nofollow" data-toggle="dropdown"
											aria-haspopup="true" aria-expanded="false" itemprop="item"
											class="dropdown-toggle">
										@mh.RenderNodeBadge(node)
										<span itemprop="name">@node.Text</span>
										<meta itemprop="position" content="@position">
									</a>
									@RenderDropdownFor(node, mh)
								</span>
							}
							else {
								<span itemprop="item">
									<span itemprop="name" itemid="@FormatUrl(node, mh)">@node.Text</span>
									<meta itemprop="position" content="@position">
								</span>
							}
						</li>
					}
					else {
						<li class="breadcrumb-item @mh.LeafNodeCssClasses(node)" data-tabid="@mh.FormatTabId(node)"
								itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
							@if (node == root) {
								<a href="@FormatUrl(node, mh)" class="border border-primary rounded px-1" title='@mh.GetString("DropCrumb_Home_Tooltip.Text")' itemprop="item">
									<meta itemprop="name" content='@mh.GetString("DropCrumb_Home_Label.Text")'>
									<meta itemprop="position" content="@position">
									@Html.Raw(mh.GetString("DropCrumb_Home.Text"))
								</a>
							}
							else {
								<a href="@FormatUrl(node, mh)" itemprop="item">
									@mh.RenderNodeBadge(node)
									<span itemprop="name">@node.Text</span>
									<meta itemprop="position" content="@position">
								</a>
							}
						</li>
					}
					position++;
				}
			</ol>
		</nav>
	}
}

@helper RenderDropdownFor(MenuNode parentNode, EpsilonMenuHelper mh) {
	<div class="dropdown-menu" aria-labelledby='@mh.Id(parentNode, "btnDropdown")'>
		@foreach (var node in parentNode.Children) {
			if (node.HasChildren ()) {
				<a role="button" href="@FormatUrl(node, mh)"
						data-target='@mh.Id(node, "collapse")' data-toggle="dropdown"
						aria-controls='@mh.Id(node, "collapse")' aria-expanded="false"
						class="dropdown-item collapse-toggle @mh.ForkNodeCssClasses(node)" data-tabid="@mh.FormatTabId(node)">
					@mh.RenderNodeBadge(node)
					<span itemprop="name">@node.Text</span>
				</a>
				@RenderCollapseFor(node, mh)
			}
			else {
				<a class="dropdown-item @mh.LeafNodeCssClasses(node)" data-tabid="@mh.FormatTabId(node)" href="@FormatUrl(node, mh)">
					@mh.RenderNodeBadge(node)
					@node.Text
				</a>
			}
		}
	</div>
}

@helper RenderCollapseFor(MenuNode parentNode, EpsilonMenuHelper mh) {
	<div id='@mh.Id(parentNode, "collapse")' class="collapse bg-light">
		<div class="dropdown-divider"></div>
		@if (parentNode.Enabled) {
			<a class="h6 dropdown-item skin-chevron-link @mh.ForkNodeCssClasses(parentNode)" data-tabid="@mh.FormatTabId(parentNode)" href="@FormatUrl(parentNode, mh)"
					title='@(mh.GetString("Menu_GoToPage.Text") + "\"" + parentNode.Text + "\"")'>
				@mh.RenderNodeBadge(parentNode)
				@parentNode.Text
			</a>
		}
		@foreach (var node in parentNode.Children) {
			<a class="dropdown-item @mh.LeafNodeCssClasses(node)" data-tabid="@mh.FormatTabId(node)" href="@FormatUrl(node, mh)">
				@mh.RenderNodeBadge(node)
				@node.Text
			</a>
		}
		<div class="dropdown-divider"></div>
	</div>
}

@RenderBreadcrumb(Model.Source.root, new EpsilonMenuHelper(Model.ControlID, Model.UrlFormat))
